<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script>
        var app=angular.module("myApp",[]);//module
        app.controller("control",function($scope){
            $scope.evaluate = function(){
                var tot=parseInt($scope.num);
                var num1=parseInt($scope.n1);
                var num2=parseInt($scope.n2);
                var num3=parseInt($scope.n3);
                var num4=parseInt($scope.n4);
                var r1 = tot * num1/100;
                $scope.r1="Room Rent "+(r1);
                var r2 = tot * num2/100;
                $scope.r2="Accessories "+(r2);
                var r3 = tot * num3/100;
                $scope.r3="Emergencies "+(r3);
                var r4 = tot * num4/100;
                $scope.r4="Savings "+(r4);
                if (num1+num2+num3+num4 > 100)
                {
                    alert("Limit Exceeded")
                } 
            }
            
        })
    </script>
</head>
<body ng-app="myApp" ng-controller="control" style="background-color:#a393eb;">
    <div style=" background-color: black;
                     color:white;
                     font-size:30px;
                     text-align:center;">
            Budget Calculator App</div> <br>
            <p style="font-size: 25px; text-align: center;"><b>  Enter Amount that you want to Manage</b></p>
            <input type="number" ng-model="num" style="margin-left:42%;text-align: center;height:40px" placeholder="e.g:3000"><br> 
            <p style="font-size:25px;text-align:center"><b>How Would You Like To Divide Your Money?</b></p><br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div style="margin-left:5%">
                <b>Room Rent(%):</b><input type="number" ng-model="n1" placeholder="Enter Amount" style="text-align: center;height:40px">&nbsp;&nbsp;&nbsp;
                <b>Accessories(%):</b><input type="number" ng-model="n2" placeholder="Enter Amount" style="text-align: center;height:40px">&nbsp;&nbsp;&nbsp;
                <b>Emergency(%):</b><input type="number" ng-model="n3" placeholder="Enter Amount" style="text-align: center;height:40px">&nbsp;&nbsp;&nbsp;&nbsp;
                <b>Saving(%):</b><input type="number" ng-model="n4" placeholder="Enter Amount" style="text-align: center;height:40px">
            <br><br><br>
            <button ng-click="evaluate()" style="background-color: #2e79ba; color: white; margin-left:42%;text-align: center;height:40px"> Evaluate My Money </button>
            <br><br><br>
            <div id="box" style="margin-left:5%">
            <div style="margin-left: 15%;float: left;;width:100px;height:70px;border:1px solid blue; background-color:red;color:white;text-align:center">{{r1}}</div>
            <div style="margin-left: 10%;float: left;width:100px;height:70px;border:1px solid green; background-color:green;color:white;text-align:center">{{r2}}</div>
            <div style="margin-left: 10%;float: left;width:100px;height:70px;border:1px solid yellow; background-color:yellow;color:black;text-align:center">{{r3}}</div>
            <div style="margin-left: 10%;float: left;width: 100px;height:70px;border:1px solid pink; background-color:pink;color:black;text-align:center">{{r4}}</div>
            </div>
    
    
</body>
</html>